{% block fast_order_response %}
    <div id="fastorder-response" class="search-suggest">
        <ul class="search-suggest-product js-result">
            {% for product in products %}
                <li>
                    <a href="#/" class="search-suggest-product-link fast-order-link" data-id="{{ product.productNumber }}" data-price="{{ product.price }}">
                        <div class="row align-items-center no-gutters">
                            <div class="col search-suggest-product-name">{{ product.productNumber }}</div>
                            <div class="col-auto search-suggest-product-price">
                                <span class="search-suggest-product-price">{{ product.price }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
