#fastorder-response {
  z-index: 1000;
  box-shadow: 0 10px 25px -15px #000;
  position: relative;

  ul {
    margin: 0;
    list-style: none;
    border: $input-border-width solid $input-group-addon-border-color;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;

    li {
      background: #fff;
      border-bottom: 1 $input-border-width solid $input-group-addon-border-color;
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
